version: "3.9"

services:
  django:
    build: .
    container_name: django_app
    command: ["./scripts/start-django.sh"]
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  caddy:
    image: jaredlander/caddy-dns:duckdns-latest
    container_name: caddy_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    env_file:
      - .env
    depends_on:
      - django
    restart: unless-stopped

  celery:
    build: .
    container_name: celery_worker
    command: ["./scripts/start-celery.sh"]
    volumes:
      - .:/app
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
